---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Hakkımda">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Merhaba, ben Can Altındağ. Türkiye'de yaşıyorum ve meslek lisesi mezunuyum. Şu anda serbest çalışan olarak 3D çizim yapıyor ve fal bakıyorum.
      <br />
     Tercih ettiğim başlıca araçlar şunları içerir:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Tasarım, çizim, animasyon ve 3D modelleme ve seyahat konusunda tutkuluyum. Benim sıra dışı hobilerimden biri de eski pasaportlar toplamak, benim için ilginç tarih parçaları.
    </p>
    <p class="text-sm font-light">
      Bazı tercih ettiğim araçlar olsa da, her zaman iş için en iyisini seçerim, her zamanki listemde olmasa bile. Amacım her proje için doğru çözümü bulmaktır.
    
    </p>
    <br />
  </div>
</Card>
